body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20%;
}

div {
    justify-content: space-evenly;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

th {
    text-decoration: underline;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}